/* General */

html,
body {
  height: 110%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

body {
  background: rgb(3, 0, 29);
  background-image: url("./static/bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: "Roboto", sans-serif;
  /* margin: 10px 8px 8px 8px; */
}

.info {
  margin: 5px;
  border: 1px solid;
  width: 1%;
  border-radius: 50%;
  text-align: center;
  cursor: help;
}

/* Game */
.incorrect {
  color: red;
}

/* Nav bar */
nav {
  height: 120px;
}

.navBar li {
  list-style: none;
  padding: 0 15px;
}

.navBar {
  display: flex;
}

.navContainer {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  height: 120px;
  align-items: center;
  transition-duration: 700ms;
  padding: 5px 30px 5px 30px;
  left: 0;
  top: 0;
  width: 96.5%;
}

.navBar a,
.dropdown-toggle {
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: 700;
}

.dropdown-toggle {
  margin: 0;
}

.dropdown-toggle::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  width: auto;
  min-width: 10rem;
  height: 135px;
  justify-content: space-evenly;
  position: absolute;
  box-shadow: 3px 5px 12px rgb(0 0 0 / 15%);
  background-color: white;
  border-radius: 0.25rem;
  padding: 0.5rem 0;
  margin: 0.4rem 0 0;
  z-index: 2;
  animation: opacity 0.5s ease-in-out; /* add a transition for opacity */
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.dropdown-item {
  font-size: 14px;
  font-weight: 700;
  color: #9597a6 !important;
  padding: 0.25rem 1.5rem;
}

.dropdown-divider {
  height: 0;
  overflow: hidden;
  border-top: 1px solid #e9ecef;
}

.sticky {
  /* background-color: #25499f; */
  background-color: rgba(0, 49, 122, 0.5);
  backdrop-filter: blur(5px);
  box-shadow: 0 6px 20px rgb(0 0 0 / 15%);
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 96.5%;
  transition-duration: 700ms;
  padding-right: 100px;
  /* padding-left: 8px; */
}

h2 {
  font-size: 60px;
  color: #fff;
  line-height: 1.8;
}

h4 {
  color: #fff;
  font-weight: 400;
  margin-bottom: 0;
  line-height: 1.2;
  font-size: 1.5rem;
}

.welcome-text {
  text-align: center;
}

#register-dropdown:hover {
  cursor: pointer !important;
}

/* Logo */
#logo {
  transition-duration: 700ms;
  height: 75%;

  /* filter: invert(0%) sepia(0%) saturate(7463%) hue-rotate(0deg) brightness(0%) contrast(115%); */
}

.change {
  transition-duration: 700ms;
  filter: invert(50%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(300%)
    contrast(100%) !important;
}

.logoContainer {
  padding-left: 166px;
}

.logoContainer h2 {
  margin: 0%;
  color: #fff;
  font-size: 3em;
  position: absolute;
  transform: translate(-50%, -50%);
}

.logoContainer h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px white;
}

.logoContainer h2:nth-child(2) {
  color: white;
  animation: animate 4s ease-in-out infinite;
  z-index: -10;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

.rota {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.date-div {
  border: solid 2px rgba(45, 26, 121, 0.553);
  border-radius: 10px;
  width: 95%;
  height: max-content;
  font-size: 20px;
  padding: 20px 10px 20px 10px;
  margin: 10px;
  background-color: rgba(45, 26, 121, 0.553);
  color: white;
}

.date-div > div {
  margin-bottom: 10px;
}

svg path,
svg text,
svg line {
  stroke: white;
}

.slide-up {
  animation: slide-up 1s;
  /* transition: transform 0.5s ease-out; */
  transform: translateY(100%);
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}

.slide-in-left {
  animation: slide-in-left 1s forwards;
  transform: translateX(0%);
}
@keyframes slide-in-left {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

.slide-in-right {
  animation: slide-in-right 1s backwards;
  transform: translateX(-100%);
}
@keyframes slide-in-right {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

.fade {
  animation: fade 0.5s;
  opacity: 1;
}
@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* .slide-in-left {
    transform: translateX(-100%);
}

.slide-in-right {
    transform: translateX(100%);
} */

.registerH2 {
  margin-bottom: 0;
}

.weeks-button {
  background-color: transparent;
  border: 3.5px solid white;
  border-radius: 10px;
  color: white;
  width: 200px;
  height: 50px;
  cursor: pointer;
  font-size: large;
  font-weight: bold;
}

.weeks-button:hover {
  background-color: rgba(255, 255, 255, 0.536);
}

#buttons-container {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
}

#canvas-container {
  display: flex;
  justify-content: center;
}

.banner {
  display: flex;
  justify-content: center;
  width: 100%;
  height: max-content;
  background-color: rgba(0, 0, 0, 0.818);
}

.banner p {
  color: white;
  font-size: 2rem;
  text-align: center;
  width: 38%;
}

.banner span {
  color: green;
}

/* Footer */

.footer {
  position: relative;
  bottom: 0;

  color: #fff;
  background-color: #0d2857;

  margin-top: auto;
}

.list-style {
  list-style-type: none !important;
  cursor: pointer;
  font-size: 0.75rem;
  opacity: 0.8;
  padding-inline-start: 0;
}
.copy-right {
  font-size: 0.75rem;
  opacity: 0.8;
}
.Analyst {
  width: 87.7px;
  height: 23.7px;
  margin: 10.7px 0 5.2px 10.2px;
  color: #fff;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.container li {
  font-size: 0.75rem;
  padding-bottom: 1rem;
}

.footer-column h5 {
  margin-bottom: 0;
  font-size: 1.25rem;
}

@media (max-width: 864px) {
  .container {
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
  }
  .footer-column h5,
  .container li {
    text-align: center;
  }
}

/* Team */

#team {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.team-member {
  border: 2px solid rgba(45, 26, 121, 0.553);
  border-radius: 10px;
  background-color: rgba(45, 26, 121, 0.553);
  padding: 20px;
  color: white;
  cursor: pointer;
}

.team-member h3 {
  margin-top: 0;
}

.team-member p {
  margin-bottom: 0;
}

.username {
  font-size: larger;
  font-weight: bold;
  margin-bottom: 10px;
}

.timetable {
  border: 2px solid rgba(45, 26, 121, 0.553);
  background-color: rgba(45, 26, 121, 0.553);
  padding: 20px;
  border-radius: 10px;
  width: 95%;
  height: max-content;
  margin: 10px 10px 50px 10px;
}

.timetable-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.timetable-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}
.timetable-header button {
  height: 35px;
  width: 35px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  border-radius: 50%;
  cursor: pointer;
}

.timepicker-container {
  display: flex;
  flex-direction: column;
  color: white;
}
.start-end-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.start-end-container-first-child {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.start-end-item {
  width: min-content;
}

.timepicker-container input {
  width: max-content !important;
  color: white;
}
.custom-timepicker input {
  width: 200px;
}

.day-of-the-week {
  font-weight: bolder;
  font-size: 20px;
}

.br-as-line {
  display: block;
  height: 1px;
  background-color: #ffffffc1;
  border: none;
  margin: 10px 0;
}

iframe {
  display: none;
}

.timeline {
  display: flex;
  justify-content: space-between;
  background-color: rgba(18, 11, 50, 0.692);
  margin-top: 15px;
  height: 15px;
  width: 100%;
  border-radius: 2.5px;
}

.hour-block {
  background-color: rgba(255, 255, 255, 0.723);
  margin: 0px 5px 0 5px;
  height: 15px;
  width: 100%;
  border-radius: 2.5px;
}

.filled {
  background-color: springgreen;
}

.minutes-30 {
  background: none;
  background-image: linear-gradient(
    to right,
    springgreen 50%,
    rgba(255, 255, 255, 0.723) 50%
  );
}

.minutes-45 {
  background: none;
  background-image: linear-gradient(
    to right,
    springgreen 75%,
    rgba(255, 255, 255, 0.723) 25%
  );
}

.shift-start-45 {
  background: none;
  background-image: linear-gradient(
    to right,
    springgreen 25%,
    rgba(255, 255, 255, 0.723) 0%
  );
}

.flip {
  rotate: 180deg;
}

.hour-block-container {
  display: flex;
  flex-direction: column;
  height: max-content;
  width: 55px;
  margin: 0px 5px 0 5px;
  align-items: center;
}

.time-text {
  margin-top: 2.5px;
  font-size: small;
}

.dow {
  color: rgba(255, 255, 255, 0.687);
  font-size: 18px;
  font-weight: bold;
  margin-right: 2.5px;
}

.date {
  font-size: 18px;
  font-weight: 100;
  margin-left: 2.5px;
}

.shift-text {
  font-size: 15px;
}

.shift-title {
  font-size: 18px;
}

.day-off {
  color: rgba(255, 255, 255, 0.687);
  font-size: 15px;
}

.emoji {
  font-size: 15px;
  margin-left: 8px;
}
