{% extends "main/layout.html" %}

{% block body %}

<h2 class="registerH2">Register your company here</h2>
<p style="color: white">
    {{message}}
</p>
    
    <form action="{% url 'register-company' %}" method="post">
        {% csrf_token %}
        <div>
            <input autofocus class="" type="text" name="company-name" placeholder="Company name">
        </div>
        <input class="btn" type="submit" value="submit">
    </form>

    Don't have an account? <a href="{% url 'register' %}">Register here.</a>

{% endblock %}