{% extends "main/layout.html" %} {% block body %} {% load static %}
<input type="hidden" id="current-user" value="{{user}}" />

<div class="welcome-text">
  <h2 style="margin-top: 0">Welcome</h2>
  <h4>Rota management made simple and straightforward for all parties.</h4>
  <!-- Rota management system where equality comes first. -->
  <div id="canvas-container"></div>
</div>

{% if user.is_authenticated %}
<div class="banner page">
  <p>
    <span>Empower</span> your teams. <br />
    Open the door for seamless <span>communication</span> between management and
    team members, prioritizing <span>equality</span>.
  </p>
</div>
{% endif %}

<div id="team" class="page"></div>
<div class="rota page"></div>
<!-- <script
  async
  src="https://unpkg.com/es-module-shims@1.6.3/dist/es-module-shims.js"
></script>
<script type="importmap">
  {
    "imports": {
      "three": "https://unpkg.com/three@0.151.3/build/three.module.js",
      "three/addons/": "https://unpkg.com/three@0.151.3/examples/jsm/"
    }
  }
</script> -->

<!-- <script src="{% static 'main/cannon_1k_blurred.hdr' %}"></script> -->

<script src="https://cdn.jsdelivr.net/npm/three@0.124.0/build/three.min.js"></script>

<script type="module" src="{% static 'main/js/three.js' %}"></script>

{% endblock %}
