{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}Smart Rota{% endblock %}</title>
    <link href="{% static 'main/styles.css' %}" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto+Slab|Roboto:300,400,500,700"
      rel="stylesheet"
    />

    <script src="{% static 'main/favicon.ico'%}" type="favicon"></script>
    <!-- <script type="importmap">
      {
        "imports": {
          "three": "https://unpkg.com/three@0.136.0/build/three.module.js",
          "RGBELoader": "./main/static/js/RGBELoaderjs"
        }
      }
    </script> -->
  </head>

  <input type="hidden" id="current-user" value="{{ user }}" />
  <input
    type="hidden"
    id="current-user-company"
    value="{{ user.employer_code }}"
  />

  <body>
    <nav>
      <div class="navContainer">
        <!-- <div class="logoContainer"><img id="logo" src="{% static 'main/logo3.png' %}" alt="logo"></div> -->
        <div class="logoContainer">
          <a href="/"><h2 id="logo">SMART ROTA</h2></a>
          <h2 id="logo">SMART ROTA</h2>
        </div>
        <div>
          <ul class="navBar">
            {% if user.is_authenticated %}
            <li>
              <a href="/" style="font-size: larger"
                ><strong>{{ user.username }}</strong></a
              >
            </li>
            {% endif %}
            <li>
              <a href="{% url 'index' %}">Home</a>
            </li>
            {% if user.is_authenticated %} {% if user.user_type == "Manager" %}
            <li>
              <a
                href="javascript:void(0)"
                id="viewTeam"
                class="spa-link"
                data-page="team"
                >Team</a
              >
            </li>
            {% endif %}

            <li>
              <a
                href="javascript:void(0)"
                id="rota"
                class="spa-link"
                data-page="rota"
                >My Rota</a
              >
            </li>
            <li>
              <a href="{% url 'logout' %}">Logout</a>
            </li>
            {% else %}
            <li>
              <p
                id="register-dropdown"
                class="nav-link dropdown-toggle"
                onclick="showMenu()"
              >
                Register
              </p>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/register-employer"
                  >Employer Profile</a
                >
                <a class="dropdown-item" href="/register-employee"
                  >Employee Profile</a
                >
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/register-company"
                  >Register Company</a
                >
              </div>
            </li>

            <li>
              <a href="{% url 'login' %}">Login</a>
            </li>

            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <div class="body">{% block body %} {% endblock %}</div>

    <footer class="text-center footer text-center">
      <div class="container">
        <!--Logo Start-->
        <div class="col-md-4">
          <h4 class="">R. W. <span class="Analyst">Smith </span></h4>

          <p class="copy-right">
            Copyright © 2008-2019 R. Smith Technology. All Rights Reserved.
          </p>
        </div>
        <!--Logo end-->

        <!--Solutions Start-->
        <div class="footer-column">
          <h5 class="">Solutions</h5>
          <ul class="list-style">
            <li class="">Staff Management</li>
            <li class="">Equal Opportunity</li>
            <li class="">R&D / Market Intelligence</li>
            <li class="">M&A Opportunity and Due Diligence</li>
            <li class="">Litigation Risk Assessment and Strategy</li>
            <li class="">Patent Prosecution</li>
          </ul>
        </div>
        <!--Solutions end-->

        <!--Quick links Start-->
        <div class="footer-column">
          <h5 class="">Quick links</h5>
          <ul class="list-style">
            <li class="">Empower</li>
            <li class="">Insight</li>
            <li class="">Corporation</li>
          </ul>
        </div>
        <!--QUick links end-->

        <!--Other Start-->
        <div class="footer-column">
          <h5 class="">Other</h5>
          <ul class="list-style">
            <li class="">Privacy Policy</li>
            <li class="">Terms of Use</li>
            <li class="">Features</li>
            <li class="">Success Stories</li>
            <li class="">Contact Us</li>
          </ul>
        </div>
        <!--Other end-->
      </div>
    </footer>
    <!-- <script
      src="{% static 'main/js/RGBELoader.js' %}"
      rel="text/javscript"
    ></script> -->
    <script src="{% static 'main/js/main.js' %}" rel="text/javscript"></script>
    <script src="{% static 'main/js/rota.js' %}" rel="text/javscript"></script>
    <script src="{% static 'main/js/team.js' %}" rel="text/javscript"></script>
    <script
      src="{% static 'main/js/APIhelper.js' %}"
      rel="text/javscript"
    ></script>
  </body>
</html>
